/* common */
body {
  margin: 0;
  font-family: 'Homemade Apple', cursive;
  font-size: 14px;
  line-height: 1.8;
  letter-spacing: .8px;
  color: #333;
}

.wrap {
  overflow: hidden;
}

li {
  list-style: none;
}

h2 {
  text-align: center;
  color: #f0c6af;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #333;
}

/* header */

.header {
  margin: 0;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header-title {
  font-size: 60px;
  font-family: 'Amatic SC', cursive;
  line-height: 1.2;
  margin-bottom: 20px;
  color: rgb(175, 159, 141);
 
}

.header-subtitle {
  font-family: "Amatic SC", cursive;
  font-size: 38px;
  line-height: 1.2;
  margin-bottom: 60px;
  color: #d9e0e0;
}

.header-nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}

.header-nav li {
  font-size: 24px;
  margin: 0 20px;
  text-align: center;
}

/* main */

main {
  padding: 0;
  margin: 0;
  background: #fafafa;
}


/* works section */

main h2 {
  margin:50px  0px;
  padding-top: 60px;
}
.works-list {
  display: flex;
  justify-content: center;
}

.works-list a {
  margin-left: 20px;
}

.works-list:hover {
  opacity: .7;
}



.works-name {
  font-size: 12px;
  font-weight: bold;
  margin-top: 8px;
}

.works-info {
  font-size: 10px;
}


/* about section */
#about {
  margin: 30px;
 

}

#about .container {
  display: flex;
  align-items: center;  
  justify-content: center;
  background-image:url(../image/bg001.jpg); 

}

#about .about-text {
  line-height: 2.5em;
  margin-left: 20px;
 
}

#about .about-text2 {
 text-align: center;
 margin-top: 120px;
 line-height: 6em;
 color: rgb(175, 159, 141);
 
 

}

#about .about-pic {
 text-align:center;
 justify-content: center;
 margin-top: 8px;
 margin-left: 32px;
 }

/* skill section */
.skill-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px;
  margin-left: 10px;
  margin-right: 0;
  
  margin-bottom: -50px;
}

.skill-item {
  display: flex;
  background:#e2ebeead ;
  margin-right: 8px;
  padding: 10px;
  border-radius: 10px;
  justify-content:space-between;
  width: calc((100%-42px)/4);
  margin-bottom: 50px;
}


.skill-body {
  flex: 1;
}

.skill-name {
 text-align: center;
  margin-bottom: 3px;
}

.skill-text p {
  font: size 20px;;
}

/* contact section */

#contact p {
  text-align: center;
}

.contact-list {
  text-align: center;
  font-size: 16px;
  padding-bottom: 30px;
}
/* footer */
footer .copyright{
  font-size: 10px;
  text-align: center;
  margin: 30px;
  color: #797979;

}

/* media Queries  */
@media screen and (max-width: 600px) {
  body {
    font-size: 13px;
    text-align: center;
    
    
  }

  .pc-only {
    display: none;
   }

   .sp-only {
    display: block;
   }

   /* 見出し */
   .title {
    font-size: 26px;
    margin-bottom: 20px;
   }

   /* レイアウト */
   .section {
    padding: 60px 0;
   }

   .inner {
    padding: 0 20px;
   }

 /*  header */
 .header {
  height: 60vh;
 }

 .header-inner {
  padding: 0 20px;
 }

 .header-title {
  font-size: 40px;
  margin-bottom: 10px;
 }
 .header-subtitle {
  font-size: 18px;
 }

 .header-nav ul {
  text-align: center;
  padding: 0;
 }
 /*  下層ページのheader */
 .sub-header-inner {
  padding: 0 40px;
 }

 .sub-header-title {
  font-family: "Dancing Script", cursive;
  font-size: 24px;
 }
 .sub-header-subtitle {
  font-size: 14px;
 }

 /* ナビ */

 .header-nav {
  padding: 15px;
 }

 .header-title {
  font-size: 24px;
 }

 .nav-item:not(:last-child) {
  margin-right: 10px;
 }

 .header-nav li {
  font-size: 12px;
 }

 .nav-item a:after {
  display: none;
 }

  .works-item {
    flex: 0 0 48%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  .works-list {
    display: block;
    justify-content: center;
  }
  .skill-list {
    display: block;
    margin-bottom: 0;
    margin: 0;
  }

  .skill-item {
    width: 100%;
    margin-bottom: 35px;
    border-radius: 0%;
  }
  .skill-item:last-child {
    margin-bottom: 0;
  }
  /* About */
  #about .about-text,.about-text2 {
    font-size: 10px;
    margin: 20px;
    

  }

  #about .about-pic {

    display: none;
  }

  /* フッター */
  .footer {
    padding: 20px;
  }


}